<h1>Angular 2</h1>
<p>Angular was developed by google in 201.It is a javascript framework. It is based on MVC Architecture (Model View Controller).</p>
<p><b>Model</b> It interact with data</p>
<p><b>View</b> It is presentation layer</p>
<p><b>Controller</b> It is intermmediate between the Model and View</p>
<hr>
<h2>Note</h2>
<p><b>Ques</b> why we use MVC architecture?</p>
<p><b>Ans</b> For loose coupling between the module</p>
<p>In 2014 google come with Angular 2</p>
<hr>
<h2>Note</h2>
<p>Angular2 is based on typescript and ECMA6 + typescript.</p>
<hr>
<h2>Note</h2>
<p><b>Ques</b> What is ECMA6?</p>
<p><b>Ans</b> It is standard followed by JavaScript from ECMA1 to 4 we have plan JavaScript ECMA5 to ECMA7 we have OOPs JavaScript.</p>
<hr>
<h2>Difference between Angular 1 & Angular 2</h2>
<p>Angular1 is based on vanilla javascript where as Angular2 is based on OOPS ECMA6 + typescript</p>
<p>Angular1 is controller (function based) where as Angular2 is component (class based)</p>
<p>Angular2 is faster than Angular1</p>
<h2>Reason</h2>
<p><b>Ques</b> Why Angular2 is faster than Angular1?</p>
<p><b>Ans</b> 1.Lazy Loading : It will used when from the whole component. One component is requirement at a time</p>
<p>2.AOT : AOT compilation Ahead of time.</p>
<p>3. Angular is based on typescript all file is extension is .ts</p>
<p>4. Browser can understand html, js. But compilation understand only typescript</p>
<p>5. Here we are converting all script into typescript. This removing the burden on the browser.</p>
<p>6. Installation of Angular</p>
<hr>
<h1>Write steps for installing node.js</h1>
<p>1. Install node.js go to google chrome and download node.js and install it.</p>
<p>2. After installing node.js to find version of node.js.</p>
<span><b>command : </b>node -v</span>
<p>3. Once we install node js npm git install along with it.</p>
<span><b>command : </b>npm -v</span>
<p>4. Once it is dne install angular cli for creating angular projects.</p>
<span><b>command : </b>npm install @angular/cli -gx</span>
<p>5. ng -v to know the angular is install and what version is there.</p>
<span><b>command : </b> npm i @angular/cli @ latest -g</span>
<p>6. latest version of angular cli is 6.1.1.</p>
<p>7. Creating a project in angular cli.</p>
<span><b>command : </b>ng new project-name</span>
<p>8. command to run angular6 projects</p>
<span><b>command : </b>ng serve</span> <br>
<span><b>command : </b>ng serve -o</span> <br>
<span><b>command : </b>ng serve --port 2000</span>
<p>9. by default part of angular / cli is 4200. Go to the browser</p>
<span><b>command : </b>localhost:4200</span>
<p>10. App component is the first component to be invoked in angular6.</p>
<p>11. <!--{{}}--> is known as string interpolation and here we put the data members</p>




